@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

::-webkit-scrollbar {
  display: none;
}

html, body{
  height: 100%;
  width: 99.9%;
  margin: auto;
}

body {
  font-family: 'Roboto Serif','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: navy;
  font-size: 1.3rem;
  text-align: center;
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  height: fit-content;
  line-height: 2rem;
}

h1, h2 {
  font-family: Montserrat, Arial, sans-serif;
  text-align: center;
}

h3 {
  font-family: Montserrat, Arial, sans-serif;
  margin: 1rem;
  text-align: left;
}

small {
  display:block;
  width: fit-content;
  text-indent: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #5d626a;
  padding: 0.5rem 4rem;
  min-height: 58vh;
}

main ul {
  margin: 0.3rem 1rem;
}

form {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

form article section {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

article {
  display: flex;
  justify-content: center;
}

header,footer {
  background-color: #40464C;
  color: white;
}

#header-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 4rem;
}

p {
  margin: 0.3rem 1rem;
}

footer ul, nav ul {
  padding: 0;
  margin: 0;
}

nav ul, footer ul {
  display:flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  width: 100%;
}

nav ul li, footer ul li {
  width: fit-content;
  min-width:fit-content;
  list-style-type: none;
  padding: 0.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

footer ul li a, nav ul li a {
  display: block;
  color: white;
  width:fit-content;
  /* border: solid beige; */
  font-weight: normal;
}

footer ul li a:first-child, nav ul li a:first-child {
  border-left: none;
  border-right: none;
}

a {
  text-decoration: none;
  color:lightblue;
  font-weight: bold;
}

figure {
  text-align: center;
}

figure img {
  height: auto;
}

figcaption {
  font-style: italic;
}

#userList, #movieList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#userList li, #movieList li, #reviewList li {
  list-style-type: none;
}

.userFigure {
  background-color: white;
  color:#40464C;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 10vw;
}

.userFigure:hover {
  cursor: pointer;
}

.userFigure img {
  width: 100%;
}

.userFigure figcaption {
  font-style: normal;
  text-overflow: ellipsis;
}

.movieFigure {
  background-color: #40464C;
  padding: 1rem;
  box-shadow: rgb(51, 51, 51) 5px 0px 15px, rgb(51, 51, 51) -5px 0px 15px;
  width: 10vw;
}

.movieFigure figcaption {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  
}

.movieFigure img {
  width: 100%;
  height: 100%;
}

.asideFrame .movieFigure {
  width: 10vw;
}

.movieFigure:hover {
  cursor: pointer;
}

input[type="submit"], button {
  font-family: 'Roboto Serif','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #40464C;
  color: white;
  padding: 0.3rem;
  font-size: 1.3rem;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  min-width: 7rem;
  margin: 1rem auto;
  border: 2px solid black;
}

i {
  margin-left: 1rem;
}

.error {
  color: red;
  text-align: center;
}

.padding {
  padding: 1rem;
}

.search {
  width: 50%;
  margin: auto;
  font-size: 1.3rem;
  font-family: inherit;
  
}

textarea {
  font-size: 1.3rem;
  font-family: inherit;
  height: 10rem;
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 1rem auto;
}
.pagination div {
  text-align: center;

}

.asideFrame {
  flex-direction: row;
}

.asideFrame figure {
  float:left;
  width: fit-content;
}

.asideFrame button {
  margin: 0.3rem 1rem;
}
.asideFrame aside div {
  display: flex;
}

.asideFrame aside {
  width: 100%;
}

.asideFrame aside div button {
  width: 50%;
}

.asideFrame form {
  margin: 0.3rem 1rem
}

.asideFrame form button {
  margin-left:auto;
  margin-right: 0
}

.active {
  color: #40464C;
  background-color: white;
  font-weight: normal;
}

#reviewList{
  padding: 0;
}

.review {
  background-color: #40464C;
  color: white;
  width: 100%;
  margin: 1rem auto;
}

.review img {
  width: 5rem;
  height: 5rem;
}

.review div {
  display: flex;
  flex-direction: column;  
}